name = "retroactive-compensation-cf-worker"
main = "src/index.ts"
compatibility_date = "2022-11-16"
node_compat = true

kv_namespaces = [
  { binding = "NONCES", id = "NONCES_ID", preview_id = "NONCES_PREVIEW_ID" }
]

[[ d1_databases ]]
binding = "DB"
database_name = "DB"
database_id = "DB_ID"
